$main-font: 'Lato', sans-serif;
$main-black-color: #331A2F;

$fullhd-width: 1920px;
$hd-width: 1280px;
$tablet-width: 768px;
$phone-width: 360px;


body {
    max-width: $fullhd-width;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
}


// Header
 
.header_block {
    width: 1530px;
    margin-top: 35px;
    font-family: $main-font;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_block__left_side, .header_block__right_side {
    display: flex;
    align-items: center;
}


.header_block__right_side {
    margin-top: -4px;
    justify-content: end;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 31px;
}

.navigation {
    margin-bottom: 5px;
    a {
    text-decoration: none;
    color: $main-black-color;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    }
    .navigation__analitics {
        margin-right: 73px;
        position: relative;
        &:hover::after {
          transform: rotate(180deg);
          transition: all 0.5s ease
        }
    }
    .navigation__analitics::after {
        position: absolute;
        top: 13px;
        right: -25px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 6px 0 6px;
        border-color: #351a2f transparent transparent transparent;
        transition: all 0.5s ease;
        border-radius: 3px;
    }
}

.phone {
    margin-right: 40px;
    .phone__img {
      width: 24px;
      margin-right: 9px;
    }
    a {
        text-decoration: none;
        color: $main-black-color;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
    }
}

.login {
    button {
            background: #CF51CE;
            border-radius: 12px;
            border: none;
            width: 169px;
            height: 45px;
            font-weight: 500;
            font-size: 23px;
            line-height: 35px;
            color: #FFFFFF;
            letter-spacing: 0.02em;
            cursor: pointer;
            margin-left: 54px;
        &:hover {
            background: rgb(22, 194, 22);
        }
    }
    .login__img {
       margin-right: 14px;
       margin-top: 7px;
    }
    
}